<!DOCTYPE html>
<html>
<head>
  <title>Alice Mottola</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Geo:400,400italic' rel='stylesheet' type='text/css'>
</head>
<body>

  <div class="header">
    <div class="my-row">
      <div class="row">
        <div id="big-title" class="col-md-6">
          <h1>alice mottola <span id="header-comment">// web developer</span></h1>
        </div>

        <div class="my-nav col-md-6">

          <a href="http://www.alicethetic.net" target="_blank">
          <div class="porthole" id="journal-porthole">
            <div class="icon-div"><img id="journal-icon" src="journal.png" /></div>
            <div class="word-div"><p class="nav-letter one-line">journal</p></div>
          </div>
          </a>

          <div class="porthole" id="messages-porthole">
            <div class="icon-div"><img id="messages-icon" src="messages.png" /></div>
            <div class="word-div"><p class="nav-letter three-lines">mes<br>sag<br>es</p></div>
          </div>

          <div class="porthole" id="skills-porthole">
            <div class="icon-div"><img id="skills-icon" src="skills.png" /></div>
            <div class="word-div"><p class="nav-letter one-line">skills</p></div>
          </div>

          <div class="porthole" id="inventory-porthole">
            <div class="icon-div"><img id="inventory-icon" src="inventory.png" /></div>
            <div class="word-div"><p class="nav-letter three-lines">in<br>vent<br>ory</p></div>
          </div>

          <div class="porthole" id="codex-porthole">
            <div class="icon-div"><img id="codex-icon" src="codex.png" /></div>
            <div class="word-div"><p class="nav-letter one-line">codex</p></div>
          </div>

        </div>
      </div>
    </div>

  </div>

<%= yield %>

</body>
</html>